*{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.txt_head{
    display: flex;
    align-content: center;
    gap: 45px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
a:hover{
    color:  rgba(234, 29, 93, 1);
    cursor: pointer;
}
.txt_head p:hover{
    color:  rgba(234, 29, 93, 1);
    cursor: pointer;
}
.head2{
    width: 100%;
    height: 208px;
    background-color: rgba(237, 247, 250, 1);
}
.txt_head2{
    width: 347px;
    height: 97px;
    padding: 50px;
    margin-left: 12%;
}
.txt_bolo{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rang{
    color: gray;
}
.big_txt{
    font-size: 40px;
    padding: 15px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont{
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.box1{
    width: 520px;
    height: 389px;
    background-image: url(../images/Rectangle\ 42.png);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box2{
    width: 520px;
    height: 389px;
}
.inp1{
    width: 100%;
    padding: 20px 0px;
    border-radius: 5px;
    border-color: rgb(213, 208, 208);
}
.inp{
    width: 100%;
    margin: 20px 0px;
    padding: 15px 0px;
    border-radius: 5px;
    border-color: rgb(219, 217, 217);
}
::placeholder{
   padding-left: 20px;
   padding: 10px;
   font-size: 17px;
}
.text_area{
    width: 100%;
    height: 160px;
}
.but_cont{
    margin: 20px 0px;
    padding: 15px 20px;
    background-color: rgba(234, 29, 93, 1);
    color: white;
    border: 0;
    font-size: 15px;
}
.elements h1{
    font-size: 32px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.elements p{
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px;
}
.cont2{
    width: 70%;
    height: 392px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 6%;
}
.cont2 h1{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.cont2 img{
    width: 100%;
}
.cont3{
    width: 85%;
    height: 178px;
    margin: auto;
    margin-bottom: 40px;
    background-color:rgba(234, 29, 93, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont3 button:hover{
    background-color: white;
    color: black;
}
.txt2{
    width: 534px;
    height: 117px;
}
.txt2 h1{
    font-size: 28px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.max{
    padding: 10px 30px;
    border-color: white;
    background-color: rgb(237, 176, 196);
    color: white;
}
.cont3 button{
    padding: 10px 20px;
    border-color: white;
    background-color: rgba(234, 29, 93, 1);
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    width: 100%;
    height: 152px;
    background-color: rgba(33, 36, 61, 1);
}
.foot_end{
    width: 85%;
    height: 52px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}
.txt_end{
    display: flex;
    gap: 30px;
    color: white;
    align-items: center;
}
.txt_end p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 40px;
}
.txt_endl{
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(134, 149, 164, 1);
}
.surat{
    display: flex;
    align-items: center;
}
.surat p{
    font-size: 28px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
