table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding: 13px 40px 13px 40px;
}
.col1{
    background-color: rgb(252, 216, 184);
}
.one{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(12, 162, 77);
}
.box{
    text-align: center;
    background-color: rgb(203, 200, 200);
}
.feedback{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}