*{
    margin: 0;
}
.all{
    display: flex;
}
.box1, .box2, .box3{
    width: 800px;
    height: 200px;
    border: 1px solid black;
}
@media(max-width: 500px){
    .all{
        flex-direction: columns;
    }  
}